@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
}

.background {
  background-image: url('./img/bg.jpeg');
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: -175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 100%;
  margin-left: 25px;
  font-size: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 100px;
}

.links li {
  width: 100%;
  margin-right: 25px;
  margin-top: 8px;
}

.links li a {
  text-decoration: none;
  color: #000;
}

.info-container {
  color: #fff;
}

.title {
  text-align: center;
  margin-top: 300px;
  width: 100%;
}

.title p {
  margin: 0;
  padding: 0;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 25px;
}

.project-list {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project {
  width: 100%;
  margin: 25px;  
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 2px 1px rgba(199,193,199,1);
}

.project p {
  padding: 10px;
  margin-top: 0;
  display: flex;
}

.profile-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile {
  padding: 300px;
  font-size: 18px;
  line-height: 2;
}

.profile-info {
  font-size: 18px;
}

.image img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: 40% 40%;
  border-radius: 20%;
}

.icons{
  display: flex;
  justify-content: center;
}

.icons a {
  align-self: flex-end;
  padding: 5px;
  color: #000;
}

.skills-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
}

.skills-list p {
  font-size: 13px;
  font-weight: bold;
}

.skills-icon {
  display: flex;
  flex-direction: row;
}

.skills-icon div {
  margin: 15px;
  padding: 15px;
}

@media(max-width:548px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .project-list {
    flex-direction: column;
    width: 100%;
  }

  .project {
    margin: 5px;
  }
}